<div class="content">
	<div>
      <div style="text-align:center">
		<h1>Jason J. Zopf</h1>
		<p>2049 Waverly St, Philadelphia, PA  19146 (215) 470-6093 <br />
jasonzopf@gmail.com
</p>
        <br />
        <br />
      </div>

		<h3>EDUCATION</h3>
		<table>
          <tbody>
            <tr><td><b>Bates College</b>, Lewiston, ME<br /> Bachelor of Science, Magna Cum Laude, May 2005 <br />Chemistry and Biological Chemistry<br />Dean’s List all semesters</td>
            <td><b>University of Pennsylvania School of Medicine</b><br />Philadelphia, PA<br /> MD Candidate, May 2011<br /><br /></td>
            </tr>
          </tbody>
         </table>
			
            <h3>TECHNICAL EXPERIENCE</h3>
            <p><b>Ruby on Rails</b>, Currently learning Rails through self-directed study and online tutorials.  Have completed Michael Hartl’s <i>Ruby on Rails Tutorial</i> and The Pragmatic Programmers’ <i>Agile Web Development with Rails</i>.  Developing a Rails medical simulation app to aid medical students with their transition into the clinics. </p>
            <p>Experience with Python/Django, jQuery, Git, Heroku</p>
            <br />

			<h3>BUSINESS EXPERIENCE</h3>
		<p><b>Center for Technology Transfer Fellow</b>, University of Pennsylvania, Philadelphia, PA. September 2010 – Present<br />
Generated assessment of newly disclosed technologies in the life sciences, physical sciences, and nanotechnology.  Responsible for evaluation of patentability, prior art searches, market sizing, and potential for licensure.</p>
		<p><b>Consultant</b>, Penn Biotech Group, The Wharton School, University of Pennsylvania, Philadelphia, PA. Sep 2010 – Present<br />  Collaborating with an interdisciplinary group of student consultants to develop new social media and promotional strategies for a health communications company.  Expanded knowledge base of the US pharmaceutical industry as well as the motivations behind drug development and marketing.</p>
		<p><b>Co-founder</b>, Patient Buddy, The Wharton School, University of Pennsylvania, Philadelphia, PA. Sep 2009 – May 2010<br />  Developed a portable communication device allowing hospitalized patients to connect with their friends and family as a result of the Wharton course, “Innovation, Problem Solving, and Design in Healthcare”.  Collaborated with MBAs and Penn Industrial Design students from idea generation through prototyping and market validation. </p><br />
		<h3>RESEARCH EXPERIENCE</h3>
		<p><b>Radiology and Health Systems Research</b>, UPenn School of Medicine, Philadelphia, PA June 2010 – Present<br />  
Modified a medical record report search engine in order to examine how the language used in radiology reports affects patient outcomes.  Independently developed a specific computer algorithm to identify radiology reports containing incidental adrenal findings. </p>
		<p><b>Nuclear Medicine Research</b>, University of Pennsylvania School of Medicine, Philadelphia, PA May – August 2010<br />
Utilized new technique of computer analysis to better define and characterize neoplastic lesions found on PET scans.  Conducted the initial implementation and validation of the segmentation software with a focus on dual-time PET imaging in mesothelioma patients.</p>
		<p><b>Principal Research Assistant</b>, University of Colorado Health Science Center, Denver, CO August 2005-April 2006<br />
Conducted research in a cervical cancer vaccine development program funded by the Bill and Melinda Gates Foundation.  Was responsible for the purification of recombinant human papillomavirus (HPV) fusion proteins through bacterial manipulation.</p>
		<p><b>Analytical Chemistry Research</b>, Bates College, Lewiston, ME June 2003 – August 2004<br />
Conducted research on the synthesis and utilization of chiral solvating agents for the application of quality control in pharmaceutical production.  Nuclear magnetic resonance (NMR) enantiomeric discrimination was performed through association of chiral host compound.</p>
		<p><b>Molecular & Cellular Biology Senior Thesis Research</b>, Bates College, Lewiston, ME Sep 2004 – April 2005.<br />  Conducted research on the nuclear localization of a signaling protein (p90 ribosomal S6 kinase) involved in cellular growth pathways and found to be activated in a quarter of all human tumors.</p><br />
		<h3>PERSONAL</h3>
		<p>Competitive alpine ski racer for thirteen years with Steamboat Springs Winter Sports Club, certified SCUBA diver, sports and outdoor enthusiast, amateur chef.</p>
	</div>
</div>



